.card {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction
     and if we allow the items to wrap
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;

  padding: 0;
}
mat-card > img{
  display: flex;
  width: 200px;
}
mat-card {
  margin-top: 20px;
}
/*.card-item {
  display: flex;
  flex-direction: row;
}
mat-card {
  display: flex;
  flex-direction: column;
  width: 25%;
}*/
