<div class="card">
  <mat-card *ngFor="let item of itemsList">
    <mat-card-title>
      {{item.title}}
    </mat-card-title>
    <img alt="" mat-card-image src="/assets/{{item.image}}.jpeg" width="25%">
  </mat-card>
</div>
