<mat-toolbar class="desktop">
  <mat-toolbar-row>Header <span class="toolbar-spacer"></span><mat-icon>account_circle</mat-icon></mat-toolbar-row>
  <mat-toolbar-row>
    <nav>
      <ul>
        <li><a href="">Pijamas</a></li>
        <li><a href="">Ropa deportiva</a></li>
      </ul>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
